/*
Challenge:
Style the app according to the provided design.
The font is called "Happy Monkey" and can be
embedded via Google Fonts.

Don't know how to make an image round? Google it!
Also, consider how you should select the image 
(class vs id vs element selector).
*/
.happy-monkey-regular {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  body{
    background: linear-gradient( #a2d2ff, #EFB0C9)
  }

*{
    color: white;
   ; 
    text-align: center;
    font-family: 'Happy Monkey';
    text-shadow: 0px 0px 2px black; 
    
} 
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2, h3, h4, p{
    text-shadow: 0px 0px 2px black;
} 
#bday-img{
    width: 200px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
}
#date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 4px;
}
#age{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 4px;
    margin:  10px 0;
}
.gift-section{
   margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-cover{
   border: 6px solid white; 
   border-radius: 10px;
   height: 400px;
   width: 400px;
   margin: 0 auto;
   width: 400px;
   background-image: url("./img/gift-cover.jpg");
   background-size: cover;
}

.gift-cover:hover{
    background-image: url("./img/happy.gif");
}

#gift-img-happy:hover {
    background-image: url("./img/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("./img/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("./img/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("./img/badass.gif");
}

#gift-img-cheers:hover {
    background-image: url("../img/cheers.gif");
}