body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2b283a;
  margin: 0;
}

header {
  background-color: #5f29a3;
  padding: 45px 0;
}

/* Type */

h1,
h3 {
  margin: 0;
}
h1 {
  color: whitesmoke;
  font-size: 36px;
}

h2 {
  margin-top: 0;
}

h3 {
  color: #d0aaff;
  font-size: 20px;
}

p {
  line-height: 23px;
}

/*----------------- Links------------------- */

a {
  color: #ef5839;
  text-decoration: underline dotted;
}
a:hover,
a:active {
  color: #d4b44c;
}

/* ----------------- */

.img-cont {
  display: flex;
  justify-content: space-between;
}

.sub-img {
  width: 300px;
  height: 300px;
  padding: 5px;
  border-radius: 4.6px;
}

/* Layout */

header,
section,
footer {
  padding: 45px 0;
}

header,
.sec2 {
  background-color: #5f29a3;
  color: whitesmoke;
}

.container {
  width: 620px;
  margin: 0 auto;
}

.sneaker-img {
  width: 100%;
}
/* -----------------------------------Buttons------------ */
.Btn
 {
  padding: 10px 19px;
  border-radius: 4.6px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.Sec-btn {
  background-color: #f0e0ff;
  color: #5f29a3;
}

.Pri-btn {
  background-color: #5f29a3;
  color: whitesmoke;
}

.Ter-btn {
  background-color: whitesmoke;
  color: #5f29a3;
}

.Btn:hover,
.Btn:active
 {
  background-color: #f3e885;
  color: #2b283a;
}
/*--------------------------Footer------------------------ */
footer {
  text-align: center;
  color: #5f29a3;
}
